<template>
  <v-container>
    <v-form
    @submit.prevent="Login"
    method="post">

      <v-text-field
        v-model="form.email"
        label="E-mail"
        type="email"
        required
      ></v-text-field>

      <v-text-field
        v-model="form.assword"
        label="Password"
        type="password"
        required
      ></v-text-field>

      <v-btn
      color="green"
      type="submit"
      >Login</v-btn>

    </v-form>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      form: () => ({
        email: '',
        password: ''
      })
    }),

    methods: {
      Login() {
        this.axios.post('/api/auth/login', {
          email: this.email,
          password: this.password
        })
        .then(res => console.log(res.data))
        .error(error => error.response.data)
      }
    }
  }
</script>

<style>

</style>
